<div class='col-md-2'>
	<div class="mosaic-block bar" >
		<div class="image-link">
			<%= link_to (image_tag category.image.url(:small)), category.url , class: 'uploaded-pic' %><br>
		</div>
		<div class='mosaic-overlay details'>
			<h4><%= category.title %></h4>
			<p><%= category.description[0..14] %></p>
			<p><% category.tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag) %>
			<% end %></p>
		</div>
	</div>
</div>